<h2 class="text-center mb-4">{{ strTitle }}</h2>
<div *ngIf="!membActiva">
    <div class="row mb-4">
        <div class="col-1"></div>
        <div class="card col-3 mx-3" style="width: 16rem" *ngFor="let member of subscriptions">
            <div class="card-body text-center">
                <h5 class="card-title">{{ member.name }}</h5>
                <p class="card-text">{{ member.description }}</p>
                <p class="card-text">Precio: {{ member.price | currency: "COP" }}</p>
            </div>
        </div>
    </div>

    <form [formGroup]="doctorSubForm" (ngSubmit)="guardarMembresia()">
        <div class="form-group row">
            <div class="col-1"></div>
            <label class="col-2 col-form-label">Tipo de membresía</label>
            <div class="col-8">
                <select class="custom-select" name="subscription" formControlName="membresiaId" required>
          <option
            *ngFor="let subs of subscriptions"
            value="{{ subs.subscriptionId }}"
          >
            {{ subs.name }}
          </option>
        </select>
                <div class="alert alert-danger p-0" *ngIf="isValidFieldDatosForm('membresiaId')">
                    El tipo de membresía es requerido
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1"></div>
            <label class="col-2 col-form-label">Número de tarjeta</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Número de tarjeta" name="cardNumber" formControlName="numeroTarjeta" required minlength="15" maxlength="16" />
                <div class="alert alert-danger p-0" *ngIf="isValidFieldDatosForm('numeroTarjeta')">
                    El número de la tarjeta debe tener 15 o 16 digitos
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1"></div>
            <label class="col-2 col-form-label">Tipo de tarjeta</label>
            <div class="col-8">
                <select class="custom-select" name="cardType" formControlName="tipoTarjeta" required>
          <option *ngFor="let payment of payments" value="{{ payment.payId }}">
            {{ payment.name }}
          </option>
        </select>
                <div class="alert alert-danger p-0" *ngIf="isValidFieldDatosForm('tipoTarjeta')">
                    El tipo de tarjeta es requerido
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1"></div>
            <label class="col-2 col-form-label">Fecha de expiración</label>
            <div class="col-2">
                <select class="custom-select" name="expirationMonth" formControlName="mesTarjeta" required>
          <option *ngFor="let mes of meses" value="{{ mes }}">
            {{ mes }}
          </option>
        </select>
                <div class="alert alert-danger p-0" *ngIf="isValidFieldDatosForm('mesTarjeta')">
                    El mes de expiracion es requerido
                </div>
            </div>
            <div class="col-2">
                <select class="custom-select" name="expirationYear" formControlName="anioTarjeta" required>
          <option *ngFor="let anio of anios" value="{{ anio }}">
            {{ anio }}
          </option>
        </select>
                <div class="alert alert-danger p-0" *ngIf="isValidFieldDatosForm('anioTarjeta')">
                    El año de expiracion es requerido
                </div>
            </div>
            <div class="col-1"></div>
            <label class="col-1 col-form-label">CVV</label>
            <div class="col-2">
                <input class="form-control" type="password" placeholder="CVV" name="cvv" formControlName="cvvTarjeta" required minlength="3" maxlength="3" />
                <div class="alert alert-danger p-0" *ngIf="isValidFieldDatosForm('cvvTarjeta')">
                    El CVV debe tener 3 digitos
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button class="btn btn-block bg-main text-white" [disabled]="!doctorSubForm.valid">
          Pagar
        </button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="membActiva">
    <div class="row mb-4">
        <div class="col-12"></div>
        <div class="card col-12 mx-12" style="width: 16rem">
            <div class="card-body text-center">
                <h5 class="card-title">{{ membActual.name }}</h5>
                <h5 class="card-title">{{ membActual.description }}</h5>
                <h5 class="card-title">Finalización membresía:</h5>
                <h5 class="card-title">{{ fechaSubFin | date }}</h5>
            </div>
        </div>
    </div>
</div>