    .wrapper {
        margin-top: 11rem !important;
    }
    
    .login,
    .image {
        min-height: 100vh;
    }
    
    .bg-image {
        background-image: url('https://www.clipartkey.com/mpngs/m/71-711469_doctor-login.png');
        background-size: cover;
    }
    
    .link {
        cursor: pointer;
    }