<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">{{strTitle}}</h3>
                            <form autocomplete="off" [formGroup]="formLogin" (ngSubmit)="ingresar()">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" placeholder="Número de identificación" required="" class="form-control rounded-pill border-0 shadow-sm px-4" [(ngModel)]="strIdentification" [class.is-invalid]="nIdentificacionNoValido" formControlName="nIdentificacion">
                                    <div class="text-left">
                                        <small *ngIf="nIdentificacionNoValido" class="text-danger ">Ingrese un número de identificación</small>
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 " name="password" [(ngModel)]="strPassword" formControlName="password" [class.is-invalid]="passNoValido">
                                    <div class="text-left">
                                        <small *ngIf="passNoValido" class="text-danger ">Ingrese una contraseña</small>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Recordar contraseña</label>
                                </div>
                                <button type="submit" class="btn bg-main text-white btn-block text-uppercase mb-2 rounded-pill shadow-sm">Ingresar</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p routerLink="/registerDoctor">
                                        <a class="font-italic text-muted link">Registrarse como doctor</a>
                                    </p>
                                    <p routerLink="/registerPatient"> <a class="font-italic text-muted link">Registrarse como paciente</a>

                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>