<body class="d-flex justify-content-center ">
    <div class="container align-self-center">
        <div class="card text-center">
            <div class="card-header">
                <h1 class="text-center mb-2">{{strTitle}}</h1>
            </div>
            <div class="card-body">
                <form autocomplete="off" [formGroup]="formLogin" (ngSubmit)="ingresar()">
                    <div class="row">
                        <div class="offset-lg-4 offset-xl-4"></div>
                        <label class="col-auto">Número de identificación</label>
                    </div>
                    <div class="row form-group">
                        <div class="offset-4"></div>
                        <div class="col-12 col-lg-4 col-xl-4">
                            <input class="form-control" type="text" placeholder="Número de identificación" [(ngModel)]="strIdentification" [class.is-invalid]="nIdentificacionNoValido" formControlName="nIdentificacion">
                            <div class="text-left">
                                <small *ngIf="nIdentificacionNoValido" class="text-danger ">Ingrese un número de identificación</small>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="offset-lg-4 offset-xl-4"></div>
                        <label class="col-auto">Contraseña</label>
                    </div>
                    <div class="row form-group ">
                        <div class="offset-4"></div>
                        <div class="col-12 col-lg-4 col-xl-4">
                            <input class="form-control" type="password" placeholder="Contraseña" name="password" [(ngModel)]="strPassword" formControlName="password" [class.is-invalid]="passNoValido">
                            <div class="text-left">
                                <small *ngIf="passNoValido" class="text-danger ">Ingrese una contraseña</small>
                            </div>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="offset-lg-4 offset-xl-4"></div>
                        <div class="input-group col-md-4">
                            <button type="submit" class="btn bg-main btn-block text-white">
                                Ingresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                <div class="row form-group mb-0">
                    <div class=" offset-lg-4 offset-xl-4"></div>
                    <div class="input-group col-md-4">
                        <a class="btn btn-block color-main" routerLink="/register">Registrarse</a>
                    </div>
                </div>
                <div class="row form-group mb-0">
                    <div class=" offset-lg-4 offset-xl-4"></div>
                    <div class="input-group col-md-4">
                        <a class="btn btn-block color-main" routerLink="/restorePassword">¿Olvido su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>`