<div class="container">
    <h1 class="text-center">{{ strTitle }}</h1>
    <div class="form-group row">
        <button class="btn bg-main ml-3 text-white" (click)="findAll()">
      <i class="fas fa-users"></i> Mostrar todos
    </button>
        <button class="btn btn-secondary ml-3" (click)="findAll()">
            <i class="fas fa-redo-alt"></i>Actualizar
    </button>
        <div class="col">
            <input class="form-control" type="text" placeholder="Buscar por id" [(ngModel)]="identificacion" (keyup)="findByIdentificacion(identificacion)" />
        </div>
    </div>
    <hr class="" />
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Número de identificación</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Inactivar/Activar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
          let p of patients
            | paginate: { itemsPerPage: 5, currentPage: pageActual };
          let i = index
        ">
                <td>{{ p.patientId }}</td>
                <td>{{ p.firstName + " " + p.lastName + " " + p.lastName2 }}</td>
                <td>{{ p.phone }}</td>
                <td>{{ getFormattedDate(p.birthdate) | date }}</td>
                <td>{{ p.userId }}</td>
                <td>{{ p.state | state }}</td>
                <td>
                    <button class="btn bg-main btn-editar" (click)="openCentrado(contenido, p)">
            <i class="fas fa-user-edit"></i>
          </button>
                </td>
                <td *ngIf="p.state === 'A'">
                    <button class="btn btn-danger btn-editar" (click)="inactivarP(p)">
            <i class="fas fa-user-slash"></i>
          </button>
                </td>
                <td *ngIf="p.state === 'I'">
                    <button class="btn btn-success btn-editar" (click)="activarP(p)">
            <i class="fas fa-user-slash"></i>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center" (pageChange)="pageActual = $event"></pagination-controls>
</div>
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar paciente</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputFistName">Nombre</label>
                    <input type="text" class="form-control" id="inputFistName" name="inputFistName" [(ngModel)]="patModal.firstName" />
                </div>
                <div class="form-group col-md-4">
                    <label for="inputLastName">Primer Apellido</label>
                    <input type="text" class="form-control" id="inputLastName" name="inputLastName" [(ngModel)]="patModal.lastName" />
                </div>
                <div class="form-group col-md-4">
                    <label for="inputLastName2">Segundo Apellido</label>
                    <input type="text" class="form-control" id="inputLastName2" name="inputLastName2" [(ngModel)]="patModal.lastName2" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputImageUrl">Imagen perfil</label>
                    <input type="text" class="form-control" id="inputImageUrl" name="inputImageUrl" [(ngModel)]="patModal.image" />
                </div>
                <div class="form-group col-md-2">
                    <label for="inputGender">Género</label>
                    <select class="form-control" id="inputGender" name="inputGender" [(ngModel)]="patModal.gender">
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputOcupation">Ocupación</label>
                    <input type="text" class="form-control" id="inputOcupation" name="inputOcupation" [(ngModel)]="patModal.ocupation" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputMaritalStatus">Estado civil</label>
                    <select class="form-control" id="inputMaritalStatus" name="inputMaritalStatus" [(ngModel)]="patModal.maritalStatus">
            <option value="Soltero">Soltero</option>
            <option value="Casado">Casado</option>
            <option value="Otro">Otro</option>
          </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPhone">Teléfono</label>
                    <input type="number" class="form-control" id="inputPhone" name="inputPhone" [(ngModel)]="patModal.phone" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputBirthdate">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="inputBirthdate" name="inputBirthdate" [(ngModel)]="fechaParseada" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputHeight">Altura (cm)</label>
                    <input type="number" class="form-control" id="inputHeight" name="inputHeight" [(ngModel)]="patModal.height" />
                </div>
                <div class="form-group col-md-4">
                    <label for="inputWeight">Peso (kg)</label>
                    <input type="number" class="form-control" id="inputWeight" name="inputWeight" [(ngModel)]="patModal.weight" />
                </div>
                <div class="form-group col-md-2">
                    <label for="inputApproved">Aprobado</label>
                    <select class="form-control" id="inputApproved" name="inputApproved" [(ngModel)]="patModal.approved">
            <option value="Y">SI</option>
            <option value="N">NO</option>
          </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputVerified">Verificado </label>
                    <select class="form-control" id="inputVerified" name="inputVerified" [(ngModel)]="patModal.verified">
            <option value="Y">SI</option>
            <option value="N">NO</option>
          </select>
                </div>
            </div>

            <button type="submit" class="btn btn-block bg-main btn-editar" (click)="editar()">
        Editar
      </button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block" (click)="modal.close()">
      Cancelar
    </button>
    </div>
</ng-template>