<div class="container">
    <h1 class="text-center">Mi perfil</h1>
    <div class="text-center">
        <img src="https://www.asf.com.mx/Imagenes/Login.png" alt="" class="img-fluid">
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-2 form-group">
            <label class="col-form-label" for="">Correo :</label>
        </div>
        <div class="col-xl-10 form-group">
            <input type="text" class="form-control" disabled [value]="email">
        </div>
        <div class="col-xl-2 form-group">
            <label class="col-form-label" for="">Correo :</label>
        </div>
        <div class="col-xl-10 form-group">
            <input type="text" class="form-control">
        </div>
    </div>
</div>