.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.card_button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card_button:hover,
a:hover {
    opacity: 0.7;
}

.img-carousel {
    width: 100%;
    max-height: 190px;
}

.fa-instagram {
    font-size: 20px;
    color: transparent;
    background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -webkit-radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.disabled-link {
    pointer-events: none;
}

.link-calificacion {
    cursor: pointer;
    color: #61a7da;
    text-decoration: underline;
}