<main *ngIf="usuarioSecundario">
    <header>
        <img [src]="obtenerImagen(usuarioSecundario.imageUrl)" alt="" />
        <div>
            <h2>Chat con {{ usuarioSecundario.nombre }}</h2>
            <h3>{{ isDoctorUsuarioPrincipal ? "Paciente" : "Doctor" }}</h3>
        </div>
        <img [src]="obtenerImagen(usuarioPrincipal.imageUrl)" alt="" />
    </header>
    <ul id="chat" #chat>
        <li *ngFor="let msg of messages | async" [ngClass]="{
        me: msg.senderId === obtenerSenderName(),
        you: msg.senderId !== obtenerSenderName()
      }">
            <div class="entete">
                <span class="status green"></span>
                <h3>{{ msg.validRegister }}</h3>
            </div>
            <div class="message">
                {{ msg.content }}
            </div>
        </li>
    </ul>
    <div class="form-group row">
        <div class="col-sm-10">
            <textarea [(ngModel)]="newMessage" (keyup.enter)="sendMsg()" class="form-control sc-text-area" placeholder="Escriba un mensaje..."></textarea>
        </div>
        <div class="col-sm-2 sc-button-send">
            <button type="button" [disabled]="newMessage?.length === 0 || !newMessage" (click)="sendMsg()" class="btn btn-block sc-button">
        Enviar
      </button>
        </div>
    </div>
</main>