<div class="container">
    <h2 class="text-center">Artículos de salud</h2>
    <div class="card-group">
        <div class="card">
            <img src="https://fundacionpielsana.es/uploads/noticias/391/dermatologoa-fps-r.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">¿Qué hace un dermatólogo?</h5>
                <p class="card-text">Un dermatólogo se dedica a todo lo que tiene que ver con su principal causa de existencia: la piel. Existen infinidad de enfermedades que la afectan que son muy difíciles y complejas por lo que el grado de especialización tanto desde el
                    punto de vista del diagnóstico como del tratamiento es muy importante</p>
                <a href="https://fundacionpielsana.es/piel-sana/que-hace-un-dermatologo" target="_blank" class="card-link">Más información</a>
            </div>
        </div>
        <div class="card">
            <img src="https://fundacionpielsana.es/uploads/noticias/390/que-es-la-dermatologia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">¿Qué es la dermatología?</h5>
                <p class="card-text">La dermatología es una especialidad de la medicina que se ocupa del conocimiento y estudio de la piel humana y de las enfermedades que la afectan. Esta especialidad también se preocupa de la prevención de las enfermedades y de la preservación
                    o la recuperación de la normalidad cutánea así como de la dermocosmética que se dedica a la higiene, a la apariencia y protección de la piel.</p>
                <a href="https://fundacionpielsana.es/piel-sana/que-es-la-dermatologia" class="card-link" target="_blank">Más información</a>
            </div>
        </div>
        <div class="card">
            <img src="https://fundacionpielsana.es/uploads/noticias/549/visita-al-dermatologo-fps-r.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">La hora del dermatólogo</h5>
                <p class="card-text">Concluidas las vacaciones de verano, es el momento de regresar a la rutina de la vida cotidiana. Y también es la hora de visitar al dermatólogo, por varios y evidentes motivos.</p>
                <a href="https://fundacionpielsana.es/piel-sana/la-hora-del-dermatologo" class=" card-link " target="_blank ">Más información</a>
            </div>
        </div>
    </div>
</div>