<div class="container mt-5">

    <h1 class="text-center">{{title}}</h1>
    <hr>
    <div class="text-center">
        <img src="https://www.maihiro.com/_Resources/Persistent/57ff025ff9efa2dd72e614dcb79a3f711ecd9e82/aussage-studienteilnehmer-trendstudie-199x199.png">
    </div>
    <hr>
    <form autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="tIdentificacion">Tipo de identificación</label>
                <input type="text" name="tIdentificacion" id="tIdentificacion" #tIdentificacion placeholder="Tipo de identificación" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="nIdentificacion">Número de identificación</label>
                <input type="number" name="nIdentificacion" id="nIdentificacion" #nIdentificacion placeholder="Número de identificación" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" #email placeholder="Email" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" #password placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ciudad">Ciudad</label>
                <input type="text" name="ciudad" id="ciudad" #ciudad placeholder="Ciudad" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="eps">Eps</label>
                <input type="text" name="eps" id="eps" #eps placeholder="Eps" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-info btn-block">
                        Sign up
                    </button>
            </div>

        </div>
        <div class="form-group row">
            <label class="col">&nbsp;</label>
            <div class="input-group col-md-10">
                <p>Sign in | <a routerLink="/login" class="badge badge-info">Here</a> |</p>
            </div>

        </div>


    </form>
</div>